/*=============================
        ATHVIK
==============================*/
#athvikBubble{

    border-left:6px solid #2563eb;

}
.athvik-warning{

    border-left:6px solid #d90429;

    background:#fff8f8;

}
#athvik{

position:fixed;

bottom:20px;

right:20px;

z-index:999999;

}

/*=============================*/

#athvikLogo{

width:75px;

height:75px;

cursor:pointer;

border-radius:50%;

transition:.3s;

filter:drop-shadow(0 8px 18px rgba(0,0,0,.35));

}

#athvikLogo:hover{

transform:scale(1.08);

}

/*=============================*/

#athvikBubble{

position:absolute;

bottom:95px;

right:15px;

background:white;

padding:18px 22px;

border-radius:25px;

max-width:320px;
min-width:220px;

font-size:15px;
font-weight:500;

line-height:1.5;

box-shadow:0 15px 35px rgba(0,0,0,.18);

display:none;

animation:popup .35s;

}

/*=============================*/

#athvikBubble::after{

content:"";

position:absolute;

right:25px;

bottom:-12px;

width:24px;

height:24px;

background:white;

transform:rotate(45deg);
color:#222;

word-wrap:break-word;

overflow-wrap:break-word;

white-space:normal;

}

/*=============================*/

@keyframes popup{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}
@media (max-width:768px){

    #athvik{

        right:12px;
        bottom:15px;

    }

    #athvikLogo{

        width:60px;
        height:60px;

    }

    #athvikBubble{

        max-width:220px;
        min-width:170px;

        right:65px;
        bottom:5px;

        font-size:14px;

    }

}
