
<!DOCTYPE html>
<html lang="en">
    
<head>


<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>WISTFUL | GPA & Combined CGPA Calculator</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">

</head>

<body>

<!-- =========================
        ATHVIK ASSISTANT
========================= -->

<div id="athvik">

    <div id="athvikBubble">
        <span id="athvikText"></span>
    </div>

    <img
        id="athvikLogo"
        src="{{ url_for('static', filename='images/athvik-logo.png') }}"
        alt="Athvik">

</div>

<!-- =========================
            HEADER
========================= -->

<header class="header">

    <img
        src="https://raw.githubusercontent.com/athithyan466/Logo/7794051a3622a003fef683eb88114e26b225c204/v4VdyNJ1_400x400.jpg"
        class="logo"
        alt="Logo">

    <h1>WISTFUL</h1>

    <div class="brand">
        GPA &amp; CGPA CALCULATOR
    </div>

    <div class="tagline">
        Made for Kavery Engineering Students
    </div>

</header>

<!-- =========================
        MAIN CONTAINER
========================= -->

<div class="container">

    <!-- =========================
            NAVIGATION
    ========================= -->

    <nav class="top-nav">


        <button
            class="nav-btn active"
            onclick="showPage('ocrPage',this)">


            OCR GPA

        </button>

        <button
            class="nav-btn"
            onclick="showPage('manualPage',this)">

            Manual GPA

        </button>

        <button
            class="nav-btn"
            onclick="showPage('cgpaPage',this)">

            Combined CGPA

        </button>

    </nav>

    <!-- ===================================================
                    OCR PAGE
    ==================================================== -->

    <div
        id="ocrPage"
        class="page active">

        <div class="page-card">

            <div class="page-title">

                <h2>OCR GPA Calculator</h2>

                <p>

                    Upload your semester result screenshot.

                    <br><br>

                    Crop the image so that only the result table
                    is visible for better OCR accuracy.

                </p>

            </div>

            <!-- =========================
                    OCR GUIDE
            ========================= -->

            <div class="ocr-guide">

                <div class="guide-card">

                    <h3>✅ Correct Upload</h3>

                    <img
                        src="{{ url_for('static', filename='images/correct.png') }}"
                        alt="Correct Upload">

                    <p>

                        Crop only the result table.

                    </p>

                </div>

                

            </div>

            <!-- =========================
                    OCR SECTION
            ========================= -->

            <section id="ocrSection">

                <input

                    type="file"

                    id="resultImage"

                    accept="image/*">

                <br><br>

                <button id="extractBtn">

                    Extract Subjects

                </button>

                <div
                    id="loading"
                    class="hidden">

                    Reading image...

                </div>

                <hr>

                <div
                    id="verificationSection"
                    class="hidden">

                    <h3>

                        Verify Extracted Subjects

                    </h3>

                    <table id="ocrTable">

                        <thead>

                            <tr>

                                

                                <th>subject code</th>
                                <th>subject name</th>
                                <th>Credits</th>

                                <th>Grade</th>

                            </tr>

                        </thead>

                        <tbody>
                        </tbody>

                    </table>

                    <br>

                    <button id="calculateOCR">

                        Calculate GPA

                    </button>
                
                

                </div>

                <div id="ocrAnimation" class="hidden">

                    <div class="cgpa-circle">

                        <svg viewBox="0 0 280 280">
                            <circle
                                class="circle-bg"
                                cx="140"
                                cy="140"
                                r="110">
                            </circle>

                            <circle
                                id="ocrProgress"
                                class="circle-progress"
                                cx="140"
                                cy="140"
                                r="110">
                            </circle>

                        </svg>

                        <div class="cgpa-center">

                            <div class="cgpa-title">

                                OCR GPA

                            </div>

                            <div id="ocrAnimatedValue">

                                0.000

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </div>

    </div>

    <!-- ===================================================
                    MANUAL GPA PAGE
    ==================================================== -->

    <div
        id="manualPage"
        class="page">

        <div class="page-card">

            <div class="page-title">

                <h2>

                    Manual GPA Calculator

                </h2>

                <p>

                    Select your regulation,
                    department and semester.

                </p>

            </div>

            <div class="manual-top">

                <select
                    id="regulation"
                    onchange="handleRegulation()">

                    <option value="">

                        SELECT REGULATION

                    </option>

                    <option value="R2021">

                        R2021

                    </option>

                    <option value="R2024">

                        R2024

                    </option>

                </select>

                <select
                    id="dept"
                    onchange="handleDepartment()">

                    <option value="">

                        SELECT DEPARTMENT

                    </option>

                    <option value="AIDS">

                        AI & DS

                    </option>

                    <option value="BME">

                        BIOMEDICAL

                    </option>

                    <option value="IT">

                        INFORMATION TECHNOLOGY

                    </option>

                    <option value="AGRI">

                        AGRICULTURE ENGINEERING

                    </option>

                </select>

                <select
                    id="sem"
                    onchange="loadSubjects()"
                    disabled>

                    <option value="">

                        SELECT SEMESTER

                    </option>

                    <option value="1">SEMESTER 1</option>

                    <option value="2">SEMESTER 2</option>

                    <option value="3">SEMESTER 3</option>

                    <option value="4">SEMESTER 4</option>

                    <option value="5">SEMESTER 5</option>

                </select>

                <button
                    class="secondary"
                    onclick="previousSemester()">

                    Previous

                </button>

            </div>

            <table
                id="table"
                class="hidden">

                <tr>

                    <th>SEM</th>

                    <th>CODE</th>

                    <th>SUBJECT</th>

                    <th>CREDITS</th>

                    <th>GRADE</th>

                </tr>
                </tr>

            </table>

            <div
                class="button-group hidden"
                id="gpaButtons">

                <button onclick="calculate()">

                    Calculate GPA

                </button>

                <button onclick="addNewSubject()">

                    Add Subject

                </button>

                <button
                    class="secondary"
                    onclick="undoLastSubject()">

                    Undo Subject

                </button>

                <button
                    class="danger"
                    onclick="undoGPA()">

                    Undo GPA

                </button>

            </div>

            <div id="result"></div>

        </div>

    </div>

    <!-- ===================================================
                    CGPA PAGE
    ==================================================== -->

    <div
        id="cgpaPage"
        class="page">

        <div class="page-card">

            <div class="page-title">

                <h2>

                    Combined CGPA Calculator

                </h2>

                <p>

                    Enter your GPA from completed semesters
                    to calculate your overall CGPA.

                </p>

            </div>

            <div id="cgpaSection">

                <div style="margin-bottom:20px;">

                    <label>

                        <b>

                            Select Completed Semesters

                        </b>

                    </label>

                    <br><br>

                    <select
                        id="semesterSelect"
                        onchange="generateSemesterInputs()">

                        <option value="">

                            SELECT

                        </option>

                        <option value="1">

                            1 Semester

                        </option>

                        <option value="2">

                            2 Semesters

                        </option>

                        <option value="3">

                            3 Semesters

                        </option>

                        <option value="4">

                            4 Semesters

                        </option>

                        <option value="5">

                            5 Semesters

                        </option>

                        <option value="6">

                            6 Semesters

                        </option>

                        <option value="7">

                            7 Semesters

                        </option>

                        <option value="8">

                            8 Semesters

                        </option>

                    </select>

                </div>

                <table id="cgpaTable">

                    <tr>

                        <th>

                            SEMESTER

                        </th>

                        <th>

                            GPA

                        </th>

                    </tr>
                    </tr>

                </table>

                <div class="button-group">

                    <button onclick="calculateCGPA()">

                        Calculate Combined CGPA

                    </button>

                    <button
                        class="danger"
                        onclick="undoCGPA()">

                        Undo CGPA

                    </button>

                </div>

                <div id="combinedResult"></div>

            </div>

        </div>

    </div>

</div>

<!-- ===================================================
                PAGE SCRIPT
=================================================== -->

<script>

var table = document.getElementById("table");

function handleRegulation(){

    let reg = document.getElementById("regulation").value;

    let deptSelect = document.getElementById("dept");

    deptSelect.innerHTML =
    '<option value="">SELECT DEPARTMENT</option>';

    document.getElementById("sem").value = "";

    document.getElementById("sem").disabled = true;

    resetTable();

    table.classList.add("hidden");

    document.getElementById("gpaButtons").classList.add("hidden");

    document.getElementById("result").innerHTML = "";

    if(subjectsData[reg]){

        let depts = Object.keys(subjectsData[reg]);

        depts.forEach(d=>{

            let option = document.createElement("option");

            option.value = d;

            option.textContent =
            (d==="AIDS") ? "AI & DS" :
            (d==="BME") ? "BIOMEDICAL" :
            d;

            deptSelect.appendChild(option);

        });

    }

}

</script>

<!-- ===================================================
                JAVASCRIPT FILES
=================================================== -->

<script src="{{ url_for('static', filename='js/data.js') }}"></script>

<script src="{{ url_for('static', filename='js/athvikmessages.js') }}"></script>

<script src="{{ url_for('static', filename='js/athvik.js') }}"></script>

<script src="{{ url_for('static', filename='js/athvikevents.js') }}"></script>

<script src="{{ url_for('static', filename='js/manual.js') }}"></script>

<script src="{{ url_for('static', filename='js/ocrAnimation.js') }}"></script>

<script src="{{ url_for('static', filename='js/ocr.js') }}"></script>

<script src="{{ url_for('static', filename='js/gpaCalculator.js') }}"></script>

<script src="{{ url_for('static', filename='js/cgpaCalculator.js') }}"></script>

<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>                    
